<!DOCTYPE html>
<html lang="pt-br" ng-app="clientsystem">
<head>
	<meta charset="UTF-8">

	<!-- build:css css/index.min.css -->
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
    <!-- endbuild -->

	<title>system</title>
</head>
<!-- corpo do sistema -->
<body>
	http://localhost:3ooo/home.ejs
	<!-- cabeçalho do corpo do sistema -->
	<header></header>
	<!-- barra de navegação do corpo do sistema -->
	<nav></nav>
	<!-- seção generica principal do corpo do sistema -->
	<section></section>
	<!-- lateral do corpo do sistema -->
	<aside></aside>
	<!-- rodape do corpo do sistema -->
	<footer></footer>
</body>
<!-- build:js js/index.min.js -->
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-route/angular-route.js"></script>
<!-- system -->
<script src="client.application.js"></script>
<!-- system.controllers -->
<!-- endbuild -->
</html>